
/ManualPipeline/.vs
/ManualPipeline/obj
/ManualPipeline/.idea
/.vs
/ManualPipeline/bin
/ManualPipeline/bin
/ManualPipeline/bin
/ManualPipeline/bin
ManualPipeline/bin/Debug/net8.0/ManualPipeline.dll
ManualPipeline/bin/Debug/net8.0/ManualPipeline.deps.json
